.friends-display {
    text-align: center;
    width: 100%;
    display: block;
    background-color: #f9f9fa;
    padding: 8px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #2e363e;
    margin-bottom: 25px;
}

.friends-display i {
    margin: 5px;
    color: rgba(0, 0, 0, 0.2);
}

.friends-channel {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
@keyframes splash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.splash-image {
    z-index: 110;
    background-color: #F5E80D;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: splash 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}