.name-header {
    padding: var(--space);
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-header__title {
    font-size: 30px;
    font-weight: 600;
}

.name-header__icons span {
    margin-left: 15px;
}

.name-header__icons {
    color: #2e363e;
}